<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ProtonTests">
    <test name="Regression Firefox">
        <parameter name="environment" value="firefox"/>
        <classes>
            <class name="com.hulimova.tests.ProtonMailAuthTest"/>
            <class name="com.hulimova.tests.ProtonMailMessageSenderTest"/>
        </classes>
    </test>
    <test name="Regression Chrome">
        <parameter name="environment" value="chrome"/>
        <classes>
            <class name="com.hulimova.tests.ProtonMailAuthTest"/>
            <class name="com.hulimova.tests.ProtonMailMessageSenderTest"/>
        </classes>
    </test>
</suite>